{
	"root": true,
	"extends": [
		"@calmdownval/eslint-config",
		"@calmdownval/eslint-config/typescript"
	],
	"env": {
		"browser": true
	},
	"parserOptions": {
		"project": "./packages/*/tsconfig.json"
	},
	"settings": {
		"import/resolver": {
			"typescript": {
				"project": "./packages/*/tsconfig.json"
			}
		}
	},
	"rules": {
		"prefer-rest-params": "off",
		"prefer-spread": "off"
	},
	"ignorePatterns": "rollup.config.js"
}
