{
	"root": true,
	"extends": [
		"@calmdownval/eslint-config",
		"@calmdownval/eslint-config/typescript"
	],
	"globals": {
		"globalThis": true
	},
	"parserOptions": {
		"project": "./packages/*/tsconfig.json"
	},
	"settings": {
		"import/resolver": {
			"@calmdownval/eslint-import-resolver-typescript": {
				"project": "./packages/*/tsconfig.json"
			}
		}
	},
	"rules": {
		"no-underscore-dangle": "off",
		"prefer-destructuring": "off",
		"prefer-rest-params": "off",
		"@typescript-eslint/no-use-before-define": [
			"error",
			{
				"functions": false,
				"classes": true,
				"variables": false, // false = still checks stuff but avoids a few false-positives!
				"enums": true,
				"typedefs": false,
				"ignoreTypeReferences": true
			}
		]
	},
	"ignorePatterns": "rollup.config.js"
}
